.gradle/**
.settings/**
.project
.classpath
Torcherino_Client.launch
Torcherino_Server.launch
bin/**
build/**
eclipse/**
gradle/**
run/**
gradle.properties
gradlew
gradlew.bat
.gitattributes
*.txt
*.launch
*.iml
*.ipr
*.iws
